.content {
	width: 700px;
	min-height: 200px;
	padding-left: 250px;
	padding-top: 6px;
	padding-bottom: 15px;
	text-align: left;
}
#form > div{
	margin-top: 0px;
}
button {
	
	color: black;
	margin: 20px 10px 20px 10px;
	padding: 10px;
	width: 100px;
	min-height: 80px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: mediumSeaGreen;
	border: 2px solid black;
	
}
#form_send {
	
	background-color: red;
}
footer {
	clear: both;
}
label {
	color: green;
	padding: 5px;
	margin: 0;
	display: inline-block;
	width: 200px;
	box-sizing: content-box;
}
input, textarea, select, option {
	color: black;
	width: 200px;
	padding: 2px;
	box-sizing: content-box;
}

span {
	color:red;
	font-weight: bold;;
}



