.content {
    width: 700px;
    min-height: 100px;
	padding-left: 250px;
	padding-top: 6px;
	padding-bottom: 20px;
	
}
#form > div{
	margin-top: 0px;
}
button {
	color: black;
	margin: 20px 10px 20px 10px;
	padding: 10px;
	width: 100px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: mediumSeaGreen;
	border: 2px solid black;
}
label {
	color: green;
	padding: 5px;
	margin: 0;
	display: inline-block;
	width: 200px;
	box-sizing: content-box;
}
input, textarea {
	color: black;
	width: 250px;
	padding: 2px;
	box-sizing: content-box;
}
table {
	margin-bottom: 10px;
	border-collapse: collapse;
}
td, th {
	border: 1px solid green;
	border-collapse: collapse;
	padding: 5px;
}


