{% extends 'base.html.twig' %}   

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/product_add.css">
{% endblock %}

{% block content %}           

    <h1>Adding Product</h1>      

    {{form(form)}}
 
    
{% endblock %}
