{% extends 'base.html.twig' %}   

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/person_add1.css">
{% endblock %}

{% block content %}           

    <h1>Adding Person</h1>      

    {{form(form)}}

    <br><br><a href="{{ path('product') }}">BACK TO LIST OF USERS >> </a>
   
{% endblock %}
