{% extends 'base.html.twig' %}   

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/person_add.css">
{% endblock %}

{% block content %}           

    <h1>Adding Person</h1>      

    {{form(form)}}
   
{% endblock %}
