{% extends 'base.html.twig' %}

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/product1.css">
{% endblock %}

{% block content %}  
    
    <h1>PRODUCT</h1>   

    {{id}}

{% endblock %}  

